<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="leavesc.hello.monitor">

    <application>
        <activity
            android:name=".ui.MonitorActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:taskAffinity="leavesc.hello.monitor.singleTask"
            android:theme="@style/MonitorAppTheme" />
        <activity
            android:name=".ui.MonitorDetailsActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:taskAffinity="leavesc.hello.monitor.singleTask"
            android:theme="@style/MonitorAppTheme" />
        <service
            android:name=".service.ClearMonitorService"
            android:exported="false" />
    </application>

</manifest>